<script type="x/template" id="vue-variation-properties">
  <div>
      <span class="Eigenschaft" v-if="variationProperty.property.id == id" >
  <b>${ variationProperty.property.names.name }</b><span>${ variationProperty.property.values.value }</span>
      </span>
  </div>
</script>
